<!DOCTYPE html>​

<html data-bs-theme="dark">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {{!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> ​ --}}
    <title>Sistema de Controle de Tickets</title>​
</head>​

<body>​
    {{!-- ---------------------------------------------------- --}}
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <!-- Navbar content 
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">-->
        <div class="container-fluid">
            <a class="navbar-brand" href="home">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{!-- ---------------USUARIO--------------- --}}
                    {{#if admin}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="usuarioCreate">Cadastrar
                            Usuário</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link active" href="usuarioList">Listar Usuários</a>
                    </li>
                    {{!-- ------------------------------------- --}}

                    {{!-- ---------------CATEGORIA--------------- --}}
                    {{#if admin}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="categoriaCreate">Cadastrar
                            Categoria</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link active" href="categoriaList">Listar Categorias</a>
                    </li>
                    {{!-- --------------------------------------- --}}

                    {{!-- ---------------TICKET--------------- --}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="ticketCreate">Cadastrar Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="ticketList">Listar Tickets</a>
                    </li>
                    {{!-- ------------------------------------ --}}

                    {{!-- ---------------LOGOUT--------------- --}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                    </li>
                    <span class="navbar-text">
                        Usuário Logado: {{login}}
                    </span>
                    {{!-- ------------------------------------ --}}
            </div>
        </div>
    </nav>
    <center> ​
        {{{body}}}

        {{!-- ---------------------------------------------------- --}}



        {{!-- {{#if admin}}
        <a href="usuarioCreate"> <button> Cadastrar Usuário</button> </a> ​
        {{/if}}
        <a href="usuarioList"> <button> Listar Usuários</button> </a>
        {{#if admin}}
        <a href="categoriaCreate"> <button> Cadastrar Categoria</button> </a> ​
        {{/if}}
        <a href="categoriaList"> <button> Listar Categorias</button> </a>
        <a href="ticketCreate"> <button> Cadastrar Tickets</button> </a>
        <a href="ticketList"> <button> Listar Tickets</button> </a>​​
        <a href="/logout"> Logout</a>
        <br> <br>​

        <br><br>
        <h1> Sistema de Controle de Tickets </h1>
        ​<label>Usuário Logado: {{login}}</label>​
        {{{body}}}
        --}}

    </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>​

</html>