<form action="/login" method="post" style="width: 30vw;">


    <div class="col-sm-10">

        <label class="form-label">Login:</label>
        <input class="form-control" type="text" name="login" id="login">

        <label class="form-label">Senha:</label>
        <input type="password" name="senha" class="form-control" id="inputPassword">
    </div>

    <br> <br>
    <input type="submit" class="btn btn-secondary" value="Logar">
</form>
<br>
<a href="usuarioCreate"><button type="button" class="btn btn-outline-success">Cadastrar Usuário</button></a>