<form action="/usuarioCreate" method="post">
    Login: <input type="text" name="login">
    <br> <br>
    Senha: <input type="password" name="senha">
    <br> <br>
    {{!-- Tipo: <input type="" name="tipo"> --}}
    <label for="escolhaValor">Tipo de usuario:</label>
    {{#if admin}}
    <select id="escolhaValor" name="tipo">
        <option value="1">Comum</option>
        <option value="2">Técnico</option>
        <option value="3">Administrador</option>
    </select>
    {{else}}
    <select id="escolhaValor" name="tipo">
        <option value="1">Comum</option>
    </select>
    {{/if}}
    <br> <br>
    <input type="submit" class="btn btn-primary" value="Cadastrar">
</form>