<h2>Criar Usuário</h2>
<br>

<form action="/usuarioCreate" method="post" style="width: 30vw;">

    <label class="form-label">Login:</label>
    <input class="form-control" type="text" name="login" placeholder="nome de usuário">

    <label class="form-label">Senha:</label>
    <input class="form-control" type="password" name="senha" placeholder="senha" aria-label="default input example">

    <label for="escolhaValor" class="form-label">Tipo de usuario:</label>
    {{#if admin}}
    <select id="escolhaValor" name="tipo" class="form-select">
        <option value="1">Comum</option>
        <option value="2">Técnico</option>
        <option value="3">Administrador</option>
    </select>
    {{else}}
    <select id="escolhaValor" name="tipo" class="form-select">
        <option value="1">Comum</option>
    </select>
    {{/if}}
    <br>
    <input type="submit" class="btn btn-secondary" value="Cadastrar">
    <br><br>
    <a href="home"><button type="button" class="btn btn-outline-danger">Voltar</button></a>


    {{!-- Login: <input type="text" name="login">
    <br> <br>
    Senha: <input type="password" name="senha">
    <br> <br>
    <label for="escolhaValor">Tipo de usuario:</label>
    {{#if admin}}
    <select id="escolhaValor" name="tipo">
        <option value="1">Comum</option>
        <option value="2">Técnico</option>
        <option value="3">Administrador</option>
    </select>
    {{else}}
    <select id="escolhaValor" name="tipo">
        <option value="1">Comum</option>
    </select>
    {{/if}}
    <br> <br>
    <input type="submit" class="btn btn-primary" value="Cadastrar">--}}
</form>